*{
  font-family: 'Manrope', sans-serif !important;
}
#subject-lists{
  background-color: #F0F2F5;
  /* padding: 24px 0; */
}
.wrapper{
  width: 75%;
    margin: 0 auto;
}
.wrapper .studyText + span{
  font-size: 14px;
}
.wrapper .studyText:first-child{
  color: rgba(0,0,0,.45);
  font-size: 14px;
}
.wrapper h1{
  color: rgb(64, 95, 189);
  font-size: 38px;
  margin: 1rem 0px;
}
.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    align-items: baseline;
    padding: 1rem 0;
}
.card {
  display: flex;
  flex-direction: column;
  /* border: 1px solid ; */
  background-color: #ffffff;
  border-radius: 24px;
  padding: 24px;
}
.card .chevron-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .chevron-container span{
  display: none;
}
.card>h4{
    margin-bottom: 0.5em;
    color: #405fbd;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    margin: 0;
}
.card>p{
  color: rgba(0,0,0,.45);
  font-size: 14px;
}
.slugsContainer{
  border-bottom: 1px solid #F0F0F0;
}
.card .slug_left>h5{
  margin: 0 !important;
  font-size: 16px !important;
}
.card .slug_left>span{
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}
.slugsContainer{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 15px 0;
}
.slug_left {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.slugChilds{
  display: block !important;
}
.showSlugChilds{
  display: block !important;
}
.hideSlugChilds{
  display: none !important;
}

@media(max-width:992px){
  .cardsContainer {
    grid-template-columns: repeat(2,1fr);
  }
}
@media(max-width:768px){
  .cardsContainer {
    grid-template-columns: repeat(1,1fr);
  }
  .card .chevron-container span{
    display: inline;
  }
  .slugChilds{
    display: none;
  }
}
@media(min-width:769px){
  .slugChilds{
    display: block !important;
  }
}